﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Application/Shared/Main.Master" AutoEventWireup="true" CodeBehind="correo.aspx.cs" Inherits="Web.Application.Admin.correo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="breadcrums" runat="server">
    <li>Configuración</li>
    <li>Configuración de correo</li>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenido" runat="server">
    <asp:Label ID="lblMessage" runat="server"></asp:Label>
    <section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-useredit-1" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="flase" data-widget-collapsed ="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                    <h2> Configuración de correo </h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">
                        <div id="smart-form-register" class="smart-form">
                            <fieldset>
                                <legend class="hide"></legend>
                                <div class="row">
                                     <section class="col col-4">
                                         <label>Host <a style="color:red">*</a></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-hdd-o"></i>
                                            <input type="text" name="host" id="host" placeholder="Host" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el host.</b>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>Puerto <a style="color:red">*</a></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-tasks"></i>
                                            <input type="text" name="port" id="port" placeholder="Puerto" maxlength="256" class="input-nombre integer" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el puerto.</b>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                        <label>E-mail <a style="color:red">*</a></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            <input type="email" name="email" id="email"  placeholder="E-mail" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el correo electrónico del usuario.</b>
                                        </label>
                                    </section>

                                    <section class="col col-4">
                                         <label>Contraseña <a style="color:red">*</a></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input type="text" name="password" id="password" placeholder="Contraseña del correo" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese la contraseña.</b>
                                        </label>
                                    </section>

                                   <section class="col col-4">
                                         <label>E-mail (from) <a style="color:red">*</a></label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            <input type="text" name="emailfrom" id="emailfrom" placeholder="E-mail (from)" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el correo electrónico que será mostrado en From o Para.</b>
                                        </label>
                                    </section>

                                     <section class="col col-4">
                                        <label>Con copia (CC)</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            <input type="text" name="emailcc" id="emailcc" placeholder="Correo con copia" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el correo que se enviará con copia.</b>
                                        </label>
                                    </section>

                                    <section class="col col-4 hide">
                                        <label>Con copia oculta (CCO)</label>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            <input type="text" name="emailcco" id="emailcco" placeholder="Correo con copia oculta" maxlength="256" class="alphanumeric alptext" />
                                            <b class="tooltip tooltip-bottom-right">Ingrese el correo que se enviará con copia oculta.</b>
                                        </label>
                                         <input type="hidden" id="hideid" name="hideid" />
                                    </section>
                                </div>
                                
                            </fieldset>
                                <footer>
                                    <!--<a class="btn btn-sm btn-default clear"><i class="fa fa-eraser"></i>&nbsp;Limpiar formulario</a>-->
                                    <a href="javascript:void(0);" class="btn btn-sm btn-default save" id="save" style="display: none;"><i class="fa fa-save"></i>&nbsp;Guardar </a>                                
                                </footer>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
         </section>
    <input type="hidden" id="HQLNBB" runat="server" value="" />
    <input type="hidden" id="KAQWPK" runat="server" value="" />
     <input type="hidden" id="LCADLW" runat="server" value=""/>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/Utilities.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
        window.addEventListener("keydown", function (e) {
            if (e.ctrlKey && e.keyCode === 71) {
                e.preventDefault();
                document.getElementsByClassName("save")[0].click();
            }
        });
        $(document).ready(function () {
   
            pageSetUp();

            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

        

            function LoadMail() {
                startLoading();
                $.ajax({
                    type: "POST",
                    url: "correo.aspx/getmail",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                        if (data.d != null) {
                            data = data.d;
                            $("#host").val(data.Host);
                            $("#port").val(data.Port);
                            $("#email").val(data.Username);
                            $("#password").val(data.Password);
                            $("#emailfrom").val(data.From);
                            $("#emailcc").val(data.CC);
                            $("#emailcco").val(data.CCO);
                            $("#hideid").val(data.TrackingId);
                        }
                        $('#main').waitMe('hide');
                    },
                    error: function () {
                        $('#main').waitMe('hide');
                        ShowError("¡Error!", "No fue posible cargar la información del correo. Si el problema persiste, contacte al personal de soporte técnico.");
                    }
                });
            }
            $("body").on("click", ".clear", function () {
                $("#host").val("");
                $("#port").val("");
                $("#email").val("");
                $("#password").val("");
                $("#emailfrom").val("");
                $("#emailcc").val("");
            });


            $("body").on("click", ".save", function () {
                $("#ctl00_contenido_lblMessage").html("");
                if (IsValid()) {
                    Save();
                }
            });

            function IsValid() {
                var esvalido = true;

                if ($("#host").val() == "") {
                    ShowError("Host", "El host es obligatorio.");
                    $('#host').parent().removeClass('state-success').addClass("state-error");
                    $('#host').removeClass('valid');
                    esvalido = false;
                }
                else {
                    $('#host').parent().removeClass("state-error").addClass('state-success');
                    $('#host').addClass('valid');
                }

                if ($("#port").val() == "") {
                    ShowError("Port", "El puerto es obligatorio.");
                    $('#port').parent().removeClass('state-success').addClass("state-error");
                    $('#port').removeClass('valid');
                    esvalido = false;
                }
                else {
                    $('#port').parent().removeClass("state-error").addClass('state-success');
                    $('#port').addClass('valid');
                }

                if ($("#email").val() == "") {
                    ShowError("E-mail", "El e-mail es obligatorio.");
                    $('#email').parent().removeClass('state-success').addClass("state-error");
                    $('#email').removeClass('valid');
                    esvalido = false;
                }
                else {
                    if (!ValidateEmail($('#email').val())) {
                        ShowError("E-mail", "El e-mail no tiene el formato correcto.");
                        $('#email').parent().removeClass('state-success').addClass("state-error");
                        $('#email').removeClass('valid');
                        esvalido = false;
                    }
                    else {
                        $('#email').parent().removeClass("state-error").addClass('state-success');
                        $('#email').addClass('valid');
                    }
                    
                }

                

                if ($("#password").val() == "") {
                    ShowError("Contraseña", "La contraseña es obligatoria.");
                    $('#password').parent().removeClass('state-success').addClass("state-error");
                    $('#password').removeClass('valid');
                    esvalido = false;
                }
                else {
                    $('#password').parent().removeClass("state-error").addClass('state-success');
                    $('#password').addClass('valid');
                }
                
                if ($("#emailfrom").val() == "") {
                    ShowError("E-mail (from)", "El e-mail (from) es obligatorio.");
                    $('#emailfrom').parent().removeClass('state-success').addClass("state-error");
                    $('#emailfrom').removeClass('valid');
                    esvalido = false;
                }
                else {
                    if (!ValidateEmail($('#emailfrom').val())) {
                        ShowError("E-mail (from)", "El e-mail (from) no tiene el formato correcto.");
                        $('#emailfrom').parent().removeClass('state-success').addClass("state-error");
                        $('#emailfrom').removeClass('valid');
                        esvalido = false;
                    }
                    else {
                        $('#emailfrom').parent().removeClass("state-error").addClass('state-success');
                        $('#emailfrom').addClass('valid');
                    }
                    
                }


                if ($("#emailcc").val() != "") {
                    if (!ValidateEmail($('#emailcc').val())) {
                        ShowError("E-mail (CC)", "El e-mail (CC) no tiene el formato correcto.");
                        $('#emailcc').parent().removeClass('state-success').addClass("state-error");
                        $('#emailcc').removeClass('valid');
                        esvalido = false;
                    }
                    else {
                        $('#emailcc').parent().removeClass("state-error").addClass('state-success');
                        $('#emailcc').addClass('valid');
                    }
                } else {
                    $('#emailcc').parent().removeClass("state-error").addClass('state-success');
                    $('#emailcc').addClass('valid');
                }

                if ($("#emailcco").val() != "") {
                    if (!ValidateEmail($('#emailcc').val())) {
                        ShowError("E-mail (CC)", "El e-mail (CCO) no tiene el formato correcto.");
                        $('#emailcco').parent().removeClass('state-success').addClass("state-error");
                        $('#emailcco').removeClass('valid');
                        esvalido = false;
                    }
                    else {
                        $('#emailcco').parent().removeClass("state-error").addClass('state-success');
                        $('#emailcco').addClass('valid');
                    }
                } else {
                    $('#emailcco').parent().removeClass("state-error").addClass('state-success');
                    $('#emailcco').addClass('valid');
                }

                return esvalido;
            }

            function Save() {
                startLoading();
                var mail = GetValues();
                $.ajax({
                    type: "POST",
                    url: "correo.aspx/save",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: JSON.stringify({
                        'mail': mail,  
                    }),
                    success: function (data) {
                        var result = JSON.parse(data.d);
                        if (result.success) {
                            $('#hideid').val(result.trackingId);
                            $("#ctl00_contenido_lblMessage").html("<div class='alert alert-success fade in'><button class='close' data-dismiss='alert'>x</button><i class='fa-fw fa fa-check'></i><strong>¡Bien hecho! </strong>" +
                                "Información del correo " + result.message + " correctamente.", "<br /></div>");
                            setTimeout(hideMessage, hideTime);
                            $('#main').waitMe('hide');
                        }
                        else {
                            $('#main').waitMe('hide');
                            $("#ctl00_contenido_lblMessage").html("<div class='alert alert-danger fade in'><button class='close' data-dismiss='alert'>×</button><i class='fa-fw fa fa-times'></i><strong>¡Error! </strong>" +
                                "Algo salió mal: " + result.message + " Si el problema persiste, contacte al personal de soporte técnico.</div>");
                            setTimeout(hideMessage, hideTime);
                        }
                    }
                });
            }

            function GetValues() {
                var mail = {
                    TrackingId: $('#hideid').val(),
                    Host: $('#host').val(),
                    Port: $('#port').val(),
                    Username: $('#email').val(),
                    Password: $('#password').val(),
                    From: $('#emailfrom').val(),
                    CC: $('#emailcc').val(),
                    CCO: $('#emailcco').val(),
                    SendMail: false,
                };

                return mail;
            }
           
            function init() {
                LoadMail();
                if ($("#ctl00_contenido_HQLNBB").val() == "true"  ) {
                    $("#save").show();
                }
            }

            init();

            var hideTime = 5000;
            function hideMessage() {
                $("#ctl00_contenido_lblMessage").html("");
            }

        });
    </script>
</asp:Content>
