@page {
    margin: 0;
}
@media print {
  
  body * {
    visibility: hidden;
  }

  #id_suc, #id_suc * {
    visibility: visible;
    position: relative;
  }

  #id_active, #id_active * {
    visibility: visible;
    position: relative;
  }

  #inside, #inside * {
    visibility: hidden;
    position: relative;
	width: auto;
	height: auto;
  }

  #borderLeft, #borderLeft * {
    visibility: hidden;
    position: absolute;
	top: -80px;
	left: -103px;
	width: 27%;
	height: 4252px;
  }

  #borderRight, #borderRight * {
    visibility: hidden;
    position: absolute;
	top: -80px;
	left: 867px;
	width: 27%;
	height: 4252px;
  }
  
  #layer_out, #layer_out * {
	display:none;
  }


  #opera, #opera * {
    visibility: hidden;
	display:none;
  }

  #layer, #layer * {
    visibility: hidden;
	display:none;
  }

  #IPH_vehicle, #IPH_vehicle * {
    visibility: visible;
  }

  #IPH_dtn, #IPH_dtn * {
    visibility: visible;
  }

  #IPH_evt, #IPH_evt * {
    visibility: visible;
  }

  #IPH_main, #IPH_main * {
    visibility: visible;
  }
  
  #tenant-modal, #tenant-modal * {
    visibility: visible;
  }
  
  #id_suc, #tid_suc * {
    
    display: block !important;
  }
  
  #id_active, #id_active * {
    
    display: block !important;
  }


  #tenant-modal {
    display: block !important;
    position: absolute;
    left: 58px;
    top: -30px;
    width: 70%; 
  }

/* target all pages */

.page-border {

height:2px;

border-top:1px solid #999;

margin-bottom:13px;

page-break-after: always;

}

/* target the first page */
@page:first {
  margin-top: 6cm;
}

/* target left, even-numbered pages */
@page:left {
  margin-right: 12cm;
}

/* target right, odd-numbered pages */
  #IPH_dtn {
    display: block !important;
  }

  #IPH_evt {
    display: block !important;
  }  
  
  #IPH_vehicle{
    display: block !important;
  }
  
  #IPH_main {
    display: block !important;
  }
  
  #borderLeft {
    display: block !important;
  }
  #borderRight {
    display: block !important;
  }
  
  
  /* #inside { */
    /* display: block !important; */
  /* } */


/* #IPH_evt { */
    /* display: block !important; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* width: auto; */
    /* height: 99%; */
  /* } */
}