<%@ Page Title="" Language="C#" MasterPageFile="~/Application/Shared/Main.Master" AutoEventWireup="true" CodeBehind="FichaTecnica.aspx.cs" Inherits="Web.Application.Report.FichaTecnica" %>

<asp:Content ID="Content1" ContentPlaceHolderID="breadcrums" runat="server">
    <li>Reportes</li>
        <li>Barandilla</li>
    <li>Ficha técnica del detenido</li>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="contenido" runat="server">  
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-file-pdf-o"></i>&nbsp;Ficha técnica del detenido
            </h1>
        </div>
    </div>


    <asp:Label ID="lblMessage" runat="server"></asp:Label>
    <div class="scroll">
    <section id="widget-grid" class="">
    <div class="row">
        <article class="col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-darken" id="wid-remisiones-0" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="flase" data-widget-togglebutton="false">
                <header>
                  <span class="widget-icon"><i class="fa fa-file-pdf-o"></i></span>
       
                    <h2> Ficha técnica del detenido</h2>
                </header>
                <div>
                    <div class="jarviswidget-editbox"></div>
                    <div class="widget-body">
                        <div id="smart-form-register-entry" class="smart-form">
                        
                            <fieldset>

                            <!--agregar time picker-->
                            <br />
                                <div class="row">                                        
                                    <div class="col col-4"> 
                                        <label for="tbFechaInicio">Fecha Inicial:</label>
                                        <asp:TextBox ID="tbFechaInicio" runat="server" TextMode="Date" ClientIDMode="Static"></asp:TextBox>
                                    </div>
                                        
                                    <div class="col col-4"> 
                                        <label for="tbFechaFin">Fecha Final:</label>
                                        <asp:TextBox ID="tbFechaFin" runat="server" TextMode="Date" ClientIDMode="Static"></asp:TextBox>
                                    </div>

                                    <div class="col col-4">
                                        <a class="btn btn-success btn-md" id="btnBuscarInfo"><i class="fa fa-search"></i> Consultar</a>
                                    </div>
                                </div> 
                           <br />
                               
                                <div class="row">
                                    <section class="col col-4">
                                        <label class="label">Estado</label>
                                        <label class="select">
                                            <select name="Estado" id="Estado">
                                            </select>
                                            
                                        </label>
                                    </section>
                                   
                                    <section class="col col-4">
                                        <label class="label">Municipio</label>
                                        <label class="select">
                                            <select name="Municipio" id="Municipio">
                                            </select>
                                            
                                        </label>
                                    </section>
                                   
                                    <section class="col col-4">
                                        <label class="label">Barandilla</label>
                                        <label class="select">
                                            <select name="Barandilla" id="Barandilla">
                                            </select>
                                            
                                        </label>
                                    </section>
                                   <br />
                                    </div>
                                
                                </fieldset>
                            </div>
                        <table id="dt_basic_recibos" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                       <th>No. remisión</th>
                                        <th>Nombre</th>
                                        <th>Edad</th>
                                        <th>Evento</th>
                                        <th>Detención</th>
                                        <th>Motivo</th>
                                        <th>Unidad</th>
                                        <th>Responsable</th>
                                        <th>Conclusión</th>
                                        <th>Situación</th>
                                        <th>Horas</th>
                                        <th>Barandilla</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                </div>
                <footer>
                </footer>
                </div>
        </article>
        </div>
        </section>
    </div>
    <input type="hidden" id="HQLNBB" runat="server" value="" />
    <input type="hidden" id="hidcliente" />
    <input type="hidden" id="hidcontrato"value="0" />
    <input type="hidden" id="hidsubcontrato" value="0"/>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" runat="server">
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/Utilities.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/datetimepicker/moment.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/datetimepicker/bootstrap-datetimepicker.es.js""></script>
    <script src="<%= ConfigurationManager.AppSettings["relativepath"]  %>Content/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            pageSetUp();

            var responsiveHelper_dt_basic_recibos = undefined;
            var responsiveHelper_datatable_fixed_column_recibos = undefined;
            var responsiveHelper_datatable_col_reorder_recibos = undefined;
            var responsiveHelper_datatable_tabletools_recibos = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            init();
            function init() {
                loadCustomers("0");
                GetContracts("0");
                GetsubContracts("0");
                //cargarTabla();
            }

            // cargar registros
            $("#btnBuscarInfo").click(
                function () {

                    cargarTabla();
                    //$("#dt_basic").DataTable().ajax.reload();

                }
            );

            $("body").on("click", ".reporte", function () {
                $("#ctl00_contenido_lblMessage").html("");
                pdf();
            });

            $("#Barandilla").change(function () {
                $("#hidsubcontrato").val($("#Barandilla").val());
                cargarTabla();
            });

            $("#Municipio").change(function () {
                $("#hidcontrato").val($("#Municipio").val());
                var value = $("#hidsubcontrato").val();
                $("#hidsubcontrato").val("0");
                GetsubContracts(value);
                cargarTabla();
            });

            $("#Estado").change(function () {
                $("#hidcliente").val($("#Estado").val());
                var value = $("#hidcontrato").val();
                GetContracts("0");
                $("#hidcontrato").val("0");
                $("#hidsubcontrato").val("0");
                GetsubContracts("0");

                cargarTabla();
            });

            function pdf(tracking) {

                $.ajax({

                    type: "POST",
                    url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/FichaTecnica.aspx/pdf",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({
                        
                        tracking: tracking
                    }),
                    cache: false,
                    success: function (data) {
                        var resultado = JSON.parse(data.d);
                        if (resultado.exitoso ) {
                            open(resultado.ubicacionarchivo .replace("~", ""));
                        }
                        else {
                            $("#ctl00_contenido_lblMessage").html("<div class='alert alert-danger fade in'><button class='close' data-dismiss='alert'>×</button><i class='fa-fw fa fa-times'></i><strong>¡Error! </strong>" +
                                "Algo salió mal: " + resultado.message + "</div>");
                            setTimeout(hideMessage, hideTime);
                            ShowError("¡Error!", resultado.message);
                        }
                    },
                    error: function () {
                        ShowError("¡Error!", "No fue posible cargar el reporte. Si el problema persiste, por favor, consulte al personal de soporte técnico.");
                    }
                });
            }

            function cargarTabla() {
                responsiveHelper_dt_basic_recibos = undefined;
                $('#dt_basic_recibos').dataTable({
                    destroy: true,
                    "lengthMenu": [10, 20, 50, 100],
                    iDisplayLength: 10,
                    serverSide: true,
                    fixedColumns: true,
                    autoWidth: true,
                    //"scrollY":        "350px",
                    "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                        "t" +
                        "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                    "autoWidth": true,
                    "oLanguage": {
                        "sSearch": '<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>'
                    },
                    "preDrawCallback": function () {
                        if (!responsiveHelper_dt_basic_recibos) {
                            responsiveHelper_dt_basic_recibos = new ResponsiveDatatablesHelper($('#dt_basic_recibos'), breakpointDefinition);
                        }
                    },
                    "rowCallback": function (nRow) {
                        responsiveHelper_dt_basic_recibos.createExpandIcon(nRow);
                    },
                    "drawCallback": function (oSettings) {
                        responsiveHelper_dt_basic_recibos.respond();
                        $('#dt_basic_recibos').waitMe('hide');
                    },
                    ajax: {
                        type: "POST",
                        url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/FichaTecnica.aspx/getDetenidos",
                        contentType: "application/json; charset=utf-8",
                        data: function (parametrosServerSide) {
                            $('#dt_basic_recibos').waitMe({
                                effect: 'bounce',
                                text: 'Cargando...',
                                bg: 'rgba(255,255,255,0.7)',
                                color: '#000',
                                sizeW: '',
                                sizeH: '',
                                source: ''
                            });

                            parametrosServerSide.emptytable = false;
                            parametrosServerSide.clienteid = $("#hidcliente").val() || "";
                            parametrosServerSide.contratoid = $("#hidcontrato").val() || "";
                            parametrosServerSide.subcontratoid = $("#hidsubcontrato").val() || "";
                            // parametros tipo date
                            parametrosServerSide.fechaInicio = $("#tbFechaInicio").val();
                            parametrosServerSide.fechaFin = $("#tbFechaFin").val();
                            return JSON.stringify(parametrosServerSide);
                        }
                    },
                    columns: [
                        {
                            name: "Expediente",
                            data: "Expediente"
                        },
                        {
                            name: "Nombre",
                            data: "Nombre"
                        },
                        {
                            name: "Edad",
                            data: "Edad"
                        },
                        {
                            name: "Evento",
                            data: "Evento"
                        },
                        {
                            name: "Detencion",
                            data: "Detencion"
                        },
                        {
                            name: "Motivo",
                            data: "Motivo"
                        },
                        {
                            name: "Unidad",
                            data: "Unidad"
                        },
                        {
                            name: "Responsable",
                            data: "Responsable"
                        },
                        {
                            name: "Conclusion",
                            data: "Conclusion"
                        },
                        {
                            name: "Situacion",
                            data: "Situacion"
                        },
                        {
                            name: "Horas",
                            data: "Horas"
                        },
                        {
                            name: "Barandilla",
                            data: "Barandilla"
                        },
                        null
                    ],
                    columnDefs: [
                        
                       
                        {
                            targets: 12,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                var txtestatus = "";
                                var icon = "";
                                var color = "";
                                var printPDF = "edit";
                                var imprimirPDF = '<a class="btn btn-primary pdf" id="imprimir" data-id="' + row.TrackingId + '" title="Generar PDF"><i class="glyphicon glyphicon-file"></i> Generar PDF</a>&nbsp;';


                                return imprimirPDF;
                            }
                        }
                    ]
                });
            };
            $("body").on("click", ".pdf", function () {
                var id = $(this).attr("data-id");
                pdf(id);
            });
            function loadCustomers(setvalue) {
                $.ajax({
                    type: "POST",
                    url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/FichaTecnica.aspx/getCustomers",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        var Dropdown = $('#Estado');
                        Dropdown.children().remove();
                        Dropdown.append(new Option("[Todos]", "0"));
                        var i = 0;
                        var id = 0;
                        $.each(response.d, function (index, item) {
                            Dropdown.append(new Option(item.Desc, item.Id));
                            id = item.Id;
                            i++;
                        });

                        if (i < 2) {
                            setvalue = id;
                            $("#hidcliente").val(id);
                            GetContracts("0");
                        }get
                        if (setvalue != "") {
                            Dropdown.val(setvalue);
                            Dropdown.trigger("change.select");
                        }

                        
                    },
                    error: function () {
                        ShowError("¡Error!", "Ocurrió un error. No fue posible cargar la lista de clientes. Si el problema persiste contacte al soporte técnico del sistema.");
                    }
                });
            }


            function GetsubContracts(setvalue) {
                $.ajax({
                    type: "POST",
                    url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/FichaTecnica.aspx/GetSubcontracts",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ Contratoid: $("#hidcontrato").val() }),
                    cache: false,
                    success: function (response) {
                        var Dropdown = $('#Barandilla');
                        Dropdown.children().remove();
                        Dropdown.append(new Option("[Todos]", "0"));
                        var id = 0;
                        var i = 0;
                        $.each(response.d, function (index, item) {
                            Dropdown.append(new Option(item.Desc, item.Id));
                            i++;
                            id = item.Id;
                        });

                        if (i < 2) {
                            setvalue = id;
                            $("#hidsubcontrato").val(id);
                            cargarTabla();
                        }
                        if (setvalue != "") {
                            Dropdown.val(setvalue);
                            Dropdown.trigger("change.select2");
                        }
                        
                    },
                    error: function () {
                        ShowError("¡Error!", "Ocurrió un error. No fue posible cargar la lista de subcontratos. Si el problema persiste contacte al soporte técnico del sistema.");
                    }
                });
            }

            function GetContracts(setvalue) {
                $.ajax({
                    type: "POST",
                    url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/FichaTecnica.aspx/GetContracts",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify({ Clienteid: $("#hidcliente").val() }),
                    cache: false,
                    success: function (response) {
                        var Dropdown = $('#Municipio');
                        Dropdown.children().remove();
                        Dropdown.append(new Option("[Todos]", "0"));
                        var i = 0;
                        var id = 0;
                        $.each(response.d, function (index, item) {
                            Dropdown.append(new Option(item.Desc, item.Id));
                            id = item.Id;
                            i++;
                        });

                        if (i < 2) {
                            setvalue = id;
                            $("#hidcontrato").val(id)
                            GetsubContracts("0");
                        }
                        if (setvalue != "") {
                            Dropdown.val(setvalue);
                            Dropdown.trigger("change.select2");
                        }
                        
                    },
                    error: function () {
                        ShowError("¡Error!", "Ocurrió un error. No fue posible cargar la lista de contratos. Si el problema persiste contacte al soporte técnico del sistema.");
                    }
                });
            }
            function CargarSituaciones(set) {
                $('#situacion').empty();
                $.ajax({

                    type: "POST",
                    url: "<%= ConfigurationManager.AppSettings["relativepath"]  %>Application/Report/existenciaPorSituacion.aspx/getSituacion",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function (response) {
                        var Dropdown = $('#situacion');

                        Dropdown.append(new Option("[Situación]", "0"));
                        $.each(response.d, function (index, item) {
                            Dropdown.append(new Option(item.Desc, item.Id));

                        });

                        if (set != "") {

                            Dropdown.val(set);
                            Dropdown.trigger("change.select2");

                        }
                    },
                    error: function () {
                        ShowError("¡Error!", "No fue posible cargar la lista de situaciones. Si el problema persiste, por favor, consulte al personal de soporte técnico.");
                    }
                });
            }

            var hideTime = 5000;
            function hideMessage() {
                $("#ctl00_contenido_lblMessage").html("");
            }

        });

    </script>
</asp:Content>
